@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>This is Assignment 5</h4>
<p>The purpose of this app is too understand the basics of ASP.NET in order ot be able to design more complex apps in the future</p>
<hr />
<h4>Name: Alejandro Mesa Suarez</h4>
<h5>Student #: 038515151</h5>
<a href="http://alemesa.com" target="_blank" class="btn btn-danger">My Website</a>
