@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.0743881262897!2d-79.50104694908643!3d43.77131465270056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2e2460772ad9%3A0xbc31fe6993cfec3d!2sSeneca%40York+Campus!5e0!3m2!1sen!2sca!4v1495741419112" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
    70 The Pond Road<br />
    Toronto, Ontario, M3J 3M6<br />
    <abbr title="Phone">Phone: </abbr>
    416.491.5050
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@example.com</a><br />
    <strong>Merchandise:</strong> <a href="mailto:Merchandise@example.com">merchandise@example.com</a>
</address>