@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 2</h1>
    <p class="lead">This web-app is assignment #2 of 4th Semester of Seneca ASP.NET Course.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites. Start by clicking around this mockup page and checking out the different parts of the website.
            Bootstrap is the CSS Framework powering this app. Best course for MVC 5 => <a href="https://mva.microsoft.com/en-us/training-courses/introduction-to-asp-net-mvc-8322?l=nKZwZ8Zy_3504984382" target="_blank">Microsoft Virtual Academy</a>
        </p>
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How to get more libraries</h2>
        <p>We use NuGet which is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects. In order to do this click <strong>Tools</strong> | <strong>NuGet Package Manager</strong></p>
        <p><a class="btn btn-success" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            The best way to host if you're a simple student is by using Github Pages which is free, they even offer you a domain for free which is yourusername.github.io.<br />
            As your site starts to get audience is better to move to a Dedicated Cloud Server like <a href="https://www.digitalocean.com/" target="_blank">Digital Ocean</a>  or <a href="https://www.vultr.com/" target="_blank">Vultr</a>
        </p>
        <p><a class="btn btn-danger" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>