@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The purpose of this app is too understand the basics of ASP.NET in order ot be able to design more complex apps in the future</p>
