@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    70 The Pond Road<br />
    Toronto, Ontario, M3J 3M6<br />
    <abbr title="Phone">P:</abbr>
    416.491.5050
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@example.com</a><br />
    <strong>Merchandise:</strong> <a href="mailto:Merchandise@example.com">merchandise@example.com</a>
</address>