@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure</h1>
    <p class="lead">Hosting service my Microsoft</p>
    <p><a href="http://amesasuarez-wa2017a7.azurewebsites.net" class="btn btn-primary btn-lg" target="_blank">Assignment 7 on Azure</a></p>
</div>

